body {
    font-family: Arial, sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(207,207,207,1) 12%, rgba(135,150,143,1) 100%, rgba(0,212,255,1) 100%); background: rgb(53,52,60);
    background: linear-gradient(90deg, rgba(53,52,60,1) 0%, rgba(207,207,207,1) 55%, rgba(205,205,205,1) 65%, rgba(135,150,143,1) 100%, rgba(0,212,255,1) 100%); 
}

/* index.html */
#container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 97vh;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 99%;
    height: 4%;
}
    nav a {
        border: 1px black solid;
        background-color: rgb(189, 182, 182);
        text-align: center;
        color: black;
        text-decoration: none;
        margin: 5px;
    }
    nav a:hover {
        background-color: rgb(80, 48, 223);
    }

header {
    margin-top: 15%;
    text-align: center;
    font-size: 300%;
}
    header hr {
        width: 25%;
    }

    header p {
        margin: 30px;
    }

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 99%;
    height: 4%;
}
    footer a {
        border: 1px rgb(88, 86, 86) solid;
        background-color: rgb(189, 182, 182);
        text-align: center;
        color: black;
        text-decoration: none;
        margin: 5px;
    }
    footer a:hover {
        background-color: rgb(160, 147, 221);
    }


/* subsites */


.container {
    display: grid;
    grid-template-columns: auto auto;
    width: 99%;
    height: 98vh;
}

article {
    display: grid;
    grid-template-rows: auto;
    width: 80%;
}
    .ArticleContainer {
        display: grid;
        grid-template-columns: auto auto;
    }
    .ArticleItem {
        border: 1px solid black;
        background-color: rgb(189, 189, 189);
        text-align: center;
        padding: 3px;
        text-decoration: none;
        color: black;
        height: 100%;
    }
    .ArticleItem:hover {
        background-color: rgb(54, 147, 175);
        cursor: pointer;
    }


.Choosables {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-left: -2000px;
    grid-column: 1;
    grid-row: 1;
    transition: left 0.3s ease-in-out;
}

.BOX {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}


.Lista {
    display: grid;
    grid-template-columns: auto auto auto auto auto; 
}
    .ListaItem {
        border: 1px solid black;
        margin: 1px;
        background-color: lightgrey;
    }      
    .ListaItem:hover {
        background-color: gray;
        cursor: pointer;
    }
    .ListaItemAlt {
        border: 1px solid black;
        margin: 1px;
        background-color: rgb(94, 192, 192);
    }
    .ListaItemAltFirma {
        border: 1px solid black;
        margin: 1px;
        background-color: rgb(94, 192, 192);
    }
    .ListaItemAltMagazyn {
        border: 1px solid black;
        margin: 1px;
        background-color: rgb(94, 192, 192);
    }

