body {
    font-family: Arial, sans-serif;
}

/* index.html */
#container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 97vh;
}

nav {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 99%;
    height: 4%;
}
    nav a {
        border: 1px black solid;
        background-color: rgb(189, 182, 182);
        text-align: center;
        color: black;
        text-decoration: none;
        margin: 5px;
    }
    nav a:hover {
        background-color: rgb(80, 48, 223);
    }

header {
    margin-top: 15%;
    text-align: center;
    font-size: 300%;
}
    header hr {
        width: 25%;
    }

    header p {
        margin: 30px;
    }

footer {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 99%;
    height: 4%;
}
    footer a {
        border: 1px rgb(88, 86, 86) solid;
        background-color: rgb(189, 182, 182);
        text-align: center;
        color: black;
        text-decoration: none;
        margin: 5px;
    }
    footer a:hover {
        background-color: rgb(160, 147, 221);
    }


/* subsites */

.container {
    display: grid;
    grid-template-columns: auto auto;
    width: 99%;
}

aside {
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
    width: 100%;
}




/* firmy.html */



